.notification-div {
    margin: 10px, 0px;
    padding: 10px, 20px;
    background-color: rgb(244, 215, 162);
    text-align: center;
}
.notification-p {
    font-size: smaller;
}
.close {
    float: right;
    margin-top: -45px;
}
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}